[package]
name = "cougr-core"
version = "0.0.1"
edition = "2024"

[lib]
crate-type = ["rlib"]

[features]
default = []

[dependencies]
soroban-sdk = { version = "23.0.2", default-features = false }

[dev-dependencies]
soroban-sdk = { version = "23.0.2", features = ["testutils"] }
